<br/>
<div class="C_CUSTOM_instructions"><b>Instructions:</b> Dragging the customer will update the customer status</div>
<div class="C_CUSTOM_container">
</div>
<script type="text/x-jsharmony-template" class="C_CUSTOM_template">
<% _.each(data.C_STS, function(c_sts){ %>
  <div class="C_CUSTOM_status_container" data-codeval="<%=c_sts.codeval%>">
    <h3 class="C_CUSTOM_status_title"><%=c_sts.codetxt%> Customers</h3>
    <div class="C_CUSTOM_status" data-codeval="<%=c_sts.codeval%>">
      <% _.each(c_sts.C, function(c){ %>
        <div class="C_CUSTOM_customer hand notextselect" data-c_id="<%=c.c_id%>"><%=c.c_name%></div>
      <% }); %>
    </div>
  </div>
<% }); %>
</script>